.main-title {
  background-image: url(../images/backgrounds/main_page_2560x1440.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1080px;
  margin-top: 80px;
}

.main-title img {
  width: 715px;
  height: 200px;
  position: absolute;
  top: 310px;
}

.selectbuttons {
  display: flex;
  justify-content: start;
  width: 100%;
  margin-bottom: -4px;
}

.button-main-page {
  font-family: MCseven;
  font-size: 24px;
  padding: 24px;
  width: 456px;
  display: flex;
  justify-content: start;
  align-items: center;

  background-color: var(--gray-2);
  box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0.15),
    inset 4px 0 0 0 rgba(0, 0, 0, 0.3), inset 0 0 0 0 rgba(0, 0, 0, 1),
    inset 0 2px 0 0 rgba(255, 255, 255, 0.2);
}

.button-main-page-active {
  background-color: var(--gray-1);
  box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0.15),
    inset -4px 6px 0 0 rgba(255, 255, 255, 0.2);
  z-index: 10;
}

.button-main-page img {
  margin-right: 24px;
  height: 48px;
  width: 48px;
}

.gameselect {
  width: calc(100svw - 160px);
  height: fit-content;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: -125px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.gameInfoPanel {
  width: 100%;
  height: 698px;
  padding: 50px;
  background-color: var(--gray-1);
  box-shadow: inset -4px 0 0 0 rgba(255, 255, 255, 0.16),
    inset 0 -4px 0 0 rgba(0, 0, 0, 0.32),
    inset 0 4px 0 0 rgba(255, 255, 255, 0.2);
}

.infoPanelWrapper {
  float: left;
  width: calc(50% - 50px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 50px;
}

.gameInfoFoto {
  float: left;
  width: 50%;
  height: 100%;
  background-color: var(--background-color);
  background-image: url(../images/backgrounds/Homepage_Gameplay-Trailer_MC-OV_1080x720.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.infoPanelTitle {
  font-family: MCten;
  font-size: 48px;
  font-weight: normal;
  margin-bottom: 20px;
  text-decoration: underline;
}

.learn-more {
  width: 194px;
  height: calc(54px - 12px);
  background-color: #3c8527;
  box-shadow: 0 -6px 0 0 #52a535, 0 6px 0 0 #2a641c;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  margin-bottom: 6px;
}

#learn {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-right: 24px;
}

#learn-more-arrow {
  font-family: MCseven;
  font-size: 20px;
}

.infoPanelInfo {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
}
